In [2]:
import pandas as pd

In [5]:
df1 = pd.read_csv('damla/dataset.csv')
len(df1)

2358

In [8]:
gercek_df = df1[df1['label'] == 'Ger√ßek']

In [9]:
len(gercek_df)

1222

In [130]:
#read jsonl
labels = pd.read_json('final_labelled.jsonl', orient='records', lines=True)

In [131]:
len(labels)

1129

In [132]:
labels["label"] = 'Yargƒ±'

In [133]:
dataset = pd.concat([gercek_df, labels])

In [134]:
dataset.head()

,id,text,date,user,rt,fav,followers,verified,label
0,221222,Bloomberg Businessweek‚Äôin 3 Temmuz tarihli √∂ze...,2022-07-10 10:16:06+00:00,ibrahim___ethem,20,343,136873,False,Ger√ßek
1,221223,"en UCUZ #BIST 100 #hisse'leri\n#SAHOL 18,68&gt...",2022-07-09 20:53:12+00:00,ASIM_YALCINKAYA,107,934,138759,False,Ger√ßek
2,221225,üìçƒ∞stanbul Havalimanƒ± d√ºn tarihinin en y√ºksek u...,2022-07-09 07:01:24+00:00,ibrahim___ethem,23,379,136873,False,Ger√ßek
3,221226,üìçFortune 500 listesinde 2020 ve 2021‚Äôde yer al...,2022-07-08 13:02:50+00:00,ibrahim___ethem,62,665,136873,False,Ger√ßek
4,221227,Bi tatile gidip geldik 4-5 g√ºn neler olmu≈ü √∂yl...,2022-07-08 07:14:06+00:00,____PASA____,79,1647,111568,False,Ger√ßek

In [135]:
len(dataset[dataset['label'] == 'Yargƒ±']), len(dataset[dataset['label'] == 'Ger√ßek'])

(1129, 1222)

# Binary Classification Data

In [136]:
dataset.to_csv('BinaryClassification/data/dataset.csv', index=False)

# Token Classification Data

In [123]:
label = pd.read_json('final_labelled.jsonl', orient='records', lines=True)

In [124]:
len(label)

1129

In [31]:
for item in range(len(label.label)):
    for lbl in label.iloc[item].label:
        if(lbl[2] == "Derece 1" or lbl[2] == "Derece 2" or lbl[2] == "Derece 3" or lbl[2] == "Pozitif Yorum" or lbl[2] == "Negatif Yorum"): 
            label.iloc[item].label.remove(lbl)

## Destek - Diren√ß - Vade - Hedef - Hisse

In [32]:
label.to_json('tc_data.jsonl', orient='records', lines=True)

# Pozitif Negatif Yorum Bulma

In [149]:
data = pd.read_json('final_labelled.jsonl', orient='records', lines=True)

In [150]:
len(data)

1129

In [151]:
data.head()

,id,text,date,user,rt,fav,followers,verified,label
0,35017,"#ykbnk \n\nDestek : 4,45\nDiren√ß :4,85",2022-07-21 06:08:51+00:00,borsa_adami,1,21,5473,False,"[[0, 7, Hisse], [18, 22, Destek], [32, 36, Dir..."
1,35058,#ykbnk 3.90\n#AKBNK 7.70\n#sahol 18.80\n#dohol...,2022-06-29 14:51:24+00:00,CemalX9,0,16,6090,False,"[[0, 6, Hisse], [7, 11, Hedef], [12, 18, Hisse..."
2,35072,"#ykbnk \nKapanƒ±≈ü 4,92 TL\nG√ú√áL√ú Y√úKSELƒ∞≈û TREND...",2022-06-22 20:53:27+00:00,mesut_al,0,6,12467,False,"[[0, 6, Hisse], [60, 67, Destek], [116, 123, H..."
3,35078,"Hayƒ±rlƒ± sabahlar dostlar,\n\n2.597'yi a≈ümak √ºz...",2022-06-22 06:59:45+00:00,CemalX9,0,19,6090,False,"[[27, 33, Hedef], [70, 76, Hisse], [70, 117, D..."
4,35081,#ykbnk 430 b√∂lgesinde buralardan d√∂n√º≈ü beklene...,2022-06-21 08:10:32+00:00,ofegin,1,196,106982,False,"[[0, 6, Hisse], [90, 93, Diren√ß]]"

In [110]:
toDel = []
cnt = 0
for item in range(len(data.label)):
    flag = True
    for lbl in data.iloc[item].label:
        if(lbl[2] == "Pozitif Yorum" or lbl[2] == "Negatif Yorum"): 
            flag = False
    if(flag == True):
        toDel.append(item)

In [111]:
data = data.drop(toDel)

# Yorum ƒ∞√ßermeyen Tweetler Silindi

In [106]:
data.head()

,id,text,date,user,rt,fav,followers,verified,label
1,35058,#ykbnk 3.90\n#AKBNK 7.70\n#sahol 18.80\n#dohol...,2022-06-29 14:51:24+00:00,CemalX9,0,16,6090,False,"[[84, 123, Negatif Yorum], [157, 177, Negatif ..."
2,35072,"#ykbnk \nKapanƒ±≈ü 4,92 TL\nG√ú√áL√ú Y√úKSELƒ∞≈û TREND...",2022-06-22 20:53:27+00:00,mesut_al,0,6,12467,False,"[[116, 157, Pozitif Yorum]]"
3,35078,"Hayƒ±rlƒ± sabahlar dostlar,\n\n2.597'yi a≈ümak √ºz...",2022-06-22 06:59:45+00:00,CemalX9,0,19,6090,False,"[[70, 117, Pozitif Yorum]]"
5,35088,G√ºnaydƒ±n dostlar 2542 2578 diren√ßler 2525 251...,2022-06-20 06:01:04+00:00,Ekonomi__finans,1,19,9286,False,"[[80, 101, Pozitif Yorum], [104, 151, Negatif ..."
6,35091,#akbnk 8.67 9.80 ytd #garan 14.65 15.80 #ykbn...,2022-06-19 18:16:31+00:00,Arzu6235,6,152,65859,False,"[[183, 217, Pozitif Yorum]]"

In [105]:
for item in range(len(data)):
    for lbl in data.iloc[item].label:
        if(lbl[2] == "Derece 1" or lbl[2] == "Derece 2" or lbl[2] == "Derece 3"): 
            data.iloc[item].label.remove(lbl)
        elif (lbl[2] == "Destek" or lbl[2] == "Diren√ß" or lbl[2] == "Hedef"):
            data.iloc[item].label.remove(lbl)
        elif (lbl[2] == "Vade" or lbl[2] == "Hisse"):
            data.iloc[item].label.remove(lbl)

# Sadece Pozitif Negatif Yorum Etiketleri Kaldƒ±

In [107]:
data.to_json('neg-pos-yorum.jsonl', orient='records', lines=True)

In [125]:
len(data)

668

In [152]:
yrm = pd.read_json('/Users/damlakonur/Desktop/bist30-nlp/TokenClassification2/Data/neg-pos-yorum.jsonl', orient='records', lines=True)
len(yrm)

664

In [153]:
yrm.head()

,id,text,date,user,rt,fav,followers,verified,label
0,35058,#ykbnk 3.90\n#AKBNK 7.70\n#sahol 18.80\n#dohol...,2022-06-29 14:51:24,CemalX9,0,16,6090,False,"[[84, 123, Negatif Yorum], [157, 177, Negatif ..."
1,35072,"#ykbnk \nKapanƒ±≈ü 4,92 TL\nG√ú√áL√ú Y√úKSELƒ∞≈û TREND...",2022-06-22 20:53:27,mesut_al,0,6,12467,False,"[[116, 157, Pozitif Yorum]]"
2,35078,"Hayƒ±rlƒ± sabahlar dostlar,\n\n2.597'yi a≈ümak √ºz...",2022-06-22 06:59:45,CemalX9,0,19,6090,False,"[[70, 117, Pozitif Yorum]]"
3,35088,G√ºnaydƒ±n dostlar 2542 2578 diren√ßler 2525 251...,2022-06-20 06:01:04,Ekonomi__finans,1,19,9286,False,"[[80, 101, Pozitif Yorum], [104, 151, Negatif ..."
4,35091,#akbnk 8.67 9.80 ytd #garan 14.65 15.80 #ykbn...,2022-06-19 18:16:31,Arzu6235,6,152,65859,False,"[[183, 217, Pozitif Yorum]]"

In [158]:
yrm.iloc[0].text[84:123]

'Ka≈üƒ±kla toplayanlar kep√ße ile verecek üòí'

In [165]:
#¬†new data frame 
new_data = pd.DataFrame(columns=['text', 'label'], index=range(810))
dict = []
for item in range(len(yrm)):
    for lbl in yrm.iloc[item].label:
        dict.append({'text' : yrm.iloc[item].text[lbl[0]:lbl[1]], 'label' : lbl[2]})

new_data = pd.DataFrame(dict)

In [169]:
len(new_data[new_data['label'] == 'Pozitif Yorum']), len(new_data[new_data['label'] == 'Negatif Yorum'])

(680, 131)

In [170]:
new_data.head()

                                              text          label
0          Ka≈üƒ±kla toplayanlar kep√ße ile verecek üòí  Negatif Yorum
1                             √ßok ucuzlamƒ±≈ü olacak  Negatif Yorum
2        5,22 TL'yi test ihtimali y√ºksek bulunuyor  Pozitif Yorum
3  #akbnk ve #ykbnk l√ßin g√ºzel bir g√ºn olacak yine  Pozitif Yorum
4                            √ºzeri ayƒ±lar d√º≈ü√ºns√ºn  Pozitif Yorum

In [171]:
# take equal number of Negatif and Pozitif Yorum
neg_data = new_data[new_data['label'] == 'Negatif Yorum']
pos_data = new_data[new_data['label'] == 'Pozitif Yorum']
len(neg_data), len(pos_data)

(131, 680)

In [172]:
pos_data = pos_data.sample(n=len(neg_data))

In [173]:
len(neg_data), len(pos_data)

(131, 131)

In [174]:
ndf = pd.concat([neg_data, pos_data])

In [176]:
ndf.to_csv('SentimentAnalysis/Data/b_data.csv', index=False)

In [178]:
new_data.to_csv('SentimentAnalysis/Data/im_data.csv', index=False)

In [119]:
for item in range(len(data)):
    for lbl in data.iloc[item].label:
        if(lbl[2] == "Pozitif Yorum" or lbl[2] == "Negatif Yorum"): 
            data.iloc[item].label.remove(lbl)
        elif (lbl[2] == "Destek" or lbl[2] == "Diren√ß" or lbl[2] == "Hedef"):
            data.iloc[item].label.remove(lbl)
        elif (lbl[2] == "Vade" or lbl[2] == "Hisse"):
            data.iloc[item].label.remove(lbl)

In [120]:
data.head()

,id,text,date,user,rt,fav,followers,verified,label
1,35058,#ykbnk 3.90\n#AKBNK 7.70\n#sahol 18.80\n#dohol...,2022-06-29 14:51:24+00:00,CemalX9,0,16,6090,False,"[[84, 123, Derece 3], [157, 177, Derece 3]]"
2,35072,"#ykbnk \nKapanƒ±≈ü 4,92 TL\nG√ú√áL√ú Y√úKSELƒ∞≈û TREND...",2022-06-22 20:53:27+00:00,mesut_al,0,6,12467,False,"[[116, 157, Derece 2]]"
3,35078,"Hayƒ±rlƒ± sabahlar dostlar,\n\n2.597'yi a≈ümak √ºz...",2022-06-22 06:59:45+00:00,CemalX9,0,19,6090,False,"[[70, 117, Derece 1]]"
5,35088,G√ºnaydƒ±n dostlar 2542 2578 diren√ßler 2525 251...,2022-06-20 06:01:04+00:00,Ekonomi__finans,1,19,9286,False,"[[80, 101, Derece 2], [104, 151, Derece 2]]"
6,35091,#akbnk 8.67 9.80 ytd #garan 14.65 15.80 #ykbn...,2022-06-19 18:16:31+00:00,Arzu6235,6,152,65859,False,"[[183, 217, Derece 1]]"

In [128]:
p = pd.read_json('/Users/damlakonur/Desktop/bist30-nlp/MultiClassClassification/Data/dereceler.jsonl', orient='records', lines=True)

In [129]:
len(p)

664

In [145]:
new_pd = pd.read_json('/Users/damlakonur/Desktop/bist30-nlp/TokenClassification2/Data/neg-pos-yorum.jsonl', orient='records', lines=True)

In [141]:
new_pd.head()

,id,text,date,user,rt,fav,followers,verified,label
0,35058,#ykbnk 3.90\n#AKBNK 7.70\n#sahol 18.80\n#dohol...,2022-06-29 14:51:24,CemalX9,0,16,6090,False,"[[84, 123, Negatif Yorum], [157, 177, Negatif ..."
1,35072,"#ykbnk \nKapanƒ±≈ü 4,92 TL\nG√ú√áL√ú Y√úKSELƒ∞≈û TREND...",2022-06-22 20:53:27,mesut_al,0,6,12467,False,"[[116, 157, Pozitif Yorum]]"
2,35078,"Hayƒ±rlƒ± sabahlar dostlar,\n\n2.597'yi a≈ümak √ºz...",2022-06-22 06:59:45,CemalX9,0,19,6090,False,"[[70, 117, Pozitif Yorum]]"
3,35088,G√ºnaydƒ±n dostlar 2542 2578 diren√ßler 2525 251...,2022-06-20 06:01:04,Ekonomi__finans,1,19,9286,False,"[[80, 101, Pozitif Yorum], [104, 151, Negatif ..."
4,35091,#akbnk 8.67 9.80 ytd #garan 14.65 15.80 #ykbn...,2022-06-19 18:16:31,Arzu6235,6,152,65859,False,"[[183, 217, Pozitif Yorum]]"

In [142]:
len(new_pd)

664

In [146]:
for i in range(len(new_pd)):
    for label in new_pd.iloc[i].label:
        if(label[2] == "Pozitif Yorum" or label[2] == "Negatif Yorum"):
            label[2]= "Tahmin"

In [147]:
new_pd.head()

,id,text,date,user,rt,fav,followers,verified,label
0,35058,#ykbnk 3.90\n#AKBNK 7.70\n#sahol 18.80\n#dohol...,2022-06-29 14:51:24,CemalX9,0,16,6090,False,"[[84, 123, Tahmin], [157, 177, Tahmin]]"
1,35072,"#ykbnk \nKapanƒ±≈ü 4,92 TL\nG√ú√áL√ú Y√úKSELƒ∞≈û TREND...",2022-06-22 20:53:27,mesut_al,0,6,12467,False,"[[116, 157, Tahmin]]"
2,35078,"Hayƒ±rlƒ± sabahlar dostlar,\n\n2.597'yi a≈ümak √ºz...",2022-06-22 06:59:45,CemalX9,0,19,6090,False,"[[70, 117, Tahmin]]"
3,35088,G√ºnaydƒ±n dostlar 2542 2578 diren√ßler 2525 251...,2022-06-20 06:01:04,Ekonomi__finans,1,19,9286,False,"[[80, 101, Tahmin], [104, 151, Tahmin]]"
4,35091,#akbnk 8.67 9.80 ytd #garan 14.65 15.80 #ykbn...,2022-06-19 18:16:31,Arzu6235,6,152,65859,False,"[[183, 217, Tahmin]]"

In [148]:
new_pd.to_json('/Users/damlakonur/Desktop/bist30-nlp/TokenClassification3/Data/tahmni.jsonl', orient='records', lines=True)

In [1]:
a = [{'entity_group': ' Hisse', 'score': 0.9989579, 'word': '# xu100', 'start': 0, 'end': 6}, {'entity_group': ' O', 'score': 0.967899, 'word': '2. 510 piyasalarda bunaltƒ±cƒ± sƒ±cak suruyor, terlemeye devam abd enflasyonu ve fed faiz artƒ±sƒ± beklentisiyle. bu beklenti oyle veya boyle gerceklestiginde', 'start': 7, 'end': 161}, {'entity_group': ' Vade', 'score': 0.9516572, 'word': 'kƒ±sa vadeli', 'start': 162, 'end': 173}, {'entity_group': ' O', 'score': 0.8718208, 'word': 'belirsizlik biter. endeks 2. 516 puan', 'start': 174, 'end': 212}, {'entity_group': ' Diren√ß', 'score': 0.6088213, 'word': '21', 'start': 213, 'end': 215}, {'entity_group': ' O', 'score': 0.9392618, 'word': '##ema uzerine atarsa rahatlar. bu seviye altƒ±nda', 'start': 215, 'end': 261}, {'entity_group': ' Destek', 'score': 0.9969651, 'word': '2. 420', 'start': 262, 'end': 267}, {'entity_group': ' O', 'score': 0.9951021, 'word': 'destegi var.', 'start': 268, 'end': 280}]

In [5]:
a[0]

{'entity_group': ' Hisse',
 'score': 0.9989579,
 'word': '# xu100',
 'start': 0,
 'end': 6}

In [6]:

for index in range(len(a)):
    for key in a[index]:
        #print(key)
        if(a[index][key] == ' Hisse'):
            print('aaaaaaa')

aaaaaaa

In [19]:
a[0]

{'entity_group': ' Hisse',
 'score': 0.9989579,
 'word': '# xu100',
 'start': 0,
 'end': 6}

In [21]:
str(a[0]['score'])

'0.9989579'

In [16]:
a[0]['word']

'# xu100'

In [18]:
for i in range(len(a)):
    for key in a[i]:
        print(type(a[i][key]))

<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>

In [1]:
import evaluate 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datasets
from sklearn.model_selection import train_test_split
from transformers import BertTokenizerFast, BertForSequenceClassification
from transformers import DataCollatorForTokenClassification
from datasets import load_dataset
from transformers import AutoModelForTokenClassification
from transformers import TrainingArguments
from transformers import Trainer
from transformers import pipeline
from seqeval.metrics import classification_report

2022-08-13 21:34:00.150441: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
df = pd.read_csv('/Users/damlakonur/Desktop/bist30-nlp/BinaryClassification/data/dataset.csv')

In [5]:
df.head()

,id,text,date,user,rt,fav,followers,verified,label
0,221222,Bloomberg Businessweek‚Äôin 3 Temmuz tarihli √∂ze...,2022-07-10 10:16:06+00:00,ibrahim___ethem,20,343,136873,False,Ger√ßek
1,221223,"en UCUZ #BIST 100 #hisse'leri\n#SAHOL 18,68&gt...",2022-07-09 20:53:12+00:00,ASIM_YALCINKAYA,107,934,138759,False,Ger√ßek
2,221225,üìçƒ∞stanbul Havalimanƒ± d√ºn tarihinin en y√ºksek u...,2022-07-09 07:01:24+00:00,ibrahim___ethem,23,379,136873,False,Ger√ßek
3,221226,üìçFortune 500 listesinde 2020 ve 2021‚Äôde yer al...,2022-07-08 13:02:50+00:00,ibrahim___ethem,62,665,136873,False,Ger√ßek
4,221227,Bi tatile gidip geldik 4-5 g√ºn neler olmu≈ü √∂yl...,2022-07-08 07:14:06+00:00,____PASA____,79,1647,111568,False,Ger√ßek

In [8]:
df[df['followers']>100000].user.unique()

array(['ibrahim___ethem', 'ASIM_YALCINKAYA', '____PASA____',
       'kursadbucak', 'finansanalizz', 'zeynepxaktas', 'ForeksTurkey',
       'PHOENIX07_', 'temettuhisse', 'Piri_KAPTAN', 'erhanhasmaden',
       'kaanbey2002', 'arifcoskun05', 'morhipopotam', 'SelimKMD',
       'ofegin', 'omerhankrm', 'TanerGenek', 'Dr_Arslan_SMMM',
       'Sacro_Trade', 'UlubeyUlusoyy', 'MatriksHaber', 'perihantantug',
       'traderAkin', 'ParaTeorisi', 'efekentli__', 'borsacibaba',
       'hiakkaya', 'guzemyilmaz', 'TraderGlock', 'TuncayTursucu',
       'borsaninizinden', 'MatriksB', 'xtrendci', 'ademayan66',
       'borsaparatic', 'crypt_engineer', 'karahanager', 'laplace2011',
       'Kriptozenciii', 'rockerfellerxau', 'Halil_BUHUR', 'fiboborsa',
       'remdocan', 'borsaressami', 'fatihonline_', 'thetrader23',
       'tunakaya_yk', 'proffibonacci', 'avrasyaanket', 'TeknikciHoca',
       'KriptoLevent', 'derinhisse'], dtype=object)

In [4]:
model_path = "dbmdz/bert-base-turkish-128k-uncased"
tokenizer = BertTokenizerFast.from_pretrained(model_path, max_len=512)

In [5]:
def getTokenizedLabels(data):
    labels_list = []
    for text, doccano_label_list in zip(data['text'], data['label']):
        encoding = tokenizer(text, return_offsets_mapping=True)
        labels = [None] * len(encoding["offset_mapping"])
        doccano_label_index = 0
        for index, token_tupple in enumerate(encoding["offset_mapping"]):
            
            doccano_label = doccano_label_list[doccano_label_index]
            if(token_tupple == (0,0)): continue

            if(token_tupple[0] > doccano_label[1] and ((doccano_label_index+1) != len(doccano_label_list))):
                doccano_label_index += 1
                doccano_label = doccano_label_list[doccano_label_index]

            if(doccano_label[0] <= token_tupple[0] <= doccano_label[1]):
                labels[index] = doccano_label[2]
            else:
                labels[index] = 'O'
        labels_list.append(labels)
    return pd.Series(labels_list)

In [6]:
def enumLabels(bert_labels):
    label2id = {None:-100, 'O':0, 'Destek':1, 'Diren√ß':2, 'Hedef':3, 'Hisse':4, 'Vade':5}
    id2label = {v:k for k,v in label2id.items()}
    bert_labels_id = bert_labels.map(lambda x: [label2id[y] for y in x])
    return bert_labels_id

In [7]:
bert_labels = getTokenizedLabels(df)

In [9]:
df.head()

,id,text,date,user,rt,fav,followers,verified,label
0,35017,"#ykbnk \n\nDestek : 4,45\nDiren√ß :4,85",2022-07-21 06:08:51,borsa_adami,1,21,5473,False,"[[0, 7, Hisse], [18, 22, Destek], [32, 36, Dir..."
1,35058,#ykbnk 3.90\n#AKBNK 7.70\n#sahol 18.80\n#dohol...,2022-06-29 14:51:24,CemalX9,0,16,6090,False,"[[0, 6, Hisse], [7, 11, Hedef], [12, 18, Hisse..."
2,35072,"#ykbnk \nKapanƒ±≈ü 4,92 TL\nG√ú√áL√ú Y√úKSELƒ∞≈û TREND...",2022-06-22 20:53:27,mesut_al,0,6,12467,False,"[[0, 6, Hisse], [60, 67, Destek], [116, 123, H..."
3,35078,"Hayƒ±rlƒ± sabahlar dostlar,\n\n2.597'yi a≈ümak √ºz...",2022-06-22 06:59:45,CemalX9,0,19,6090,False,"[[27, 33, Hedef], [70, 76, Hisse], [80, 86, Hi..."
4,35081,#ykbnk 430 b√∂lgesinde buralardan d√∂n√º≈ü beklene...,2022-06-21 08:10:32,ofegin,1,196,106982,False,"[[0, 6, Hisse], [90, 93, Diren√ß]]"

In [12]:
encoding = tokenizer(df.iloc[2].text, return_offsets_mapping=True)

In [13]:
encoding

{'input_ids': [2, 7, 62873, 98360, 74996, 1017, 24, 16, 10563, 3354, 94211, 73923, 1967, 32714, 2524, 2992, 18, 24, 16, 10018, 3354, 56918, 60831, 2524, 61392, 93534, 1011, 16, 16723, 25, 16, 3819, 3354, 11, 3553, 4429, 10862, 42064, 4730, 18, 18984, 5841, 24, 16, 10018, 3354, 3789, 17, 3098, 7473, 2682, 67408, 16, 63629, 2524, 84099, 18, 7, 7365, 7, 23181, 7, 23181, 20558, 7, 23181, 8936, 3], 'token_type_ids': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'offset_mapping': [(0, 0), (0, 1), (1, 4), (4, 6), (8, 14), (14, 15), (16, 17), (17, 18), (18, 20), (21, 23), (24, 29), (30, 36), (36, 38), (39, 45), (46, 51), (52, 58), (58, 59), (60, 61), (61, 62), (62, 64), (65, 67), (68, 76), (77, 84), (85, 90), (91, 97), (98, 103), (103, 104), (104, 105), (106, 115), (116, 117), (117, 118), (118, 120), (121, 123), (123, 124), (124, 126), (127, 131), (132, 140), (141, 147), (148, 157), (157, 158), (159, 168), (169, 176), (177, 178), (178, 179), (179, 181), (182, 184), (185, 190), (190, 191), (191, 194), (195, 202), (203, 208), (209, 214), (214, 215), (216, 230), (231, 236), (237, 248), (248, 249), (250, 251), (251, 256), (257, 258), (258, 262), (263, 264), (264, 268), (268, 271), (272, 273), (273, 277), (277, 279), (0, 0)]}

In [8]:
bert_labels[0]

[None,
 'Hisse',
 'Hisse',
 'Hisse',
 'O',
 'O',
 'Destek',
 'Destek',
 'Destek',
 'O',
 'O',
 'Diren√ß',
 'Diren√ß',
 'Diren√ß',
 None]

In [1]:
from wordcloud import WordCloud, STOPWORDS 
import matplotlib.pyplot as plt 
import pandas as pd
import  numpy as np
import requests
from PIL import Image

In [2]:
df = pd.read_csv('/Users/damlakonur/Desktop/bist30-nlp/BinaryClassification/data/dataset.csv')

In [4]:
df.head()

,id,text,date,user,rt,fav,followers,verified,label
0,221222,Bloomberg Businessweek‚Äôin 3 Temmuz tarihli √∂ze...,2022-07-10 10:16:06+00:00,ibrahim___ethem,20,343,136873,False,Ger√ßek
1,221223,"en UCUZ #BIST 100 #hisse'leri\n#SAHOL 18,68&gt...",2022-07-09 20:53:12+00:00,ASIM_YALCINKAYA,107,934,138759,False,Ger√ßek
2,221225,üìçƒ∞stanbul Havalimanƒ± d√ºn tarihinin en y√ºksek u...,2022-07-09 07:01:24+00:00,ibrahim___ethem,23,379,136873,False,Ger√ßek
3,221226,üìçFortune 500 listesinde 2020 ve 2021‚Äôde yer al...,2022-07-08 13:02:50+00:00,ibrahim___ethem,62,665,136873,False,Ger√ßek
4,221227,Bi tatile gidip geldik 4-5 g√ºn neler olmu≈ü √∂yl...,2022-07-08 07:14:06+00:00,____PASA____,79,1647,111568,False,Ger√ßek

In [1]:
a = {'cashtags': None, 'content': '#XU100 2.510\n\nPiyasalarda bunaltƒ±cƒ± sƒ±cak s√ºr√ºyor, terlemeye devam ABD enflasyonu ve FED faiz artƒ±≈üƒ± beklentisiyle.\n\nBu beklenti √∂yle veya b√∂yle ger√ßekle≈ütiƒüinde kƒ±sa vadeli belirsizlik biter. \n\nEndeks 2.516 puan 21EMA √ºzerine atarsa rahatlar.\nBu seviye altƒ±nda 2.420 desteƒüi var.', 'conversationId': 1536444639275778000, 'coordinates': None, 'date': 'Mon, 13 Jun 2022 20:25:22 GMT', 'hashtags': ['XU100'], 'id': 1536444639275778000, 'inReplyToTweetId': None, 'inReplyToUser': None, 'lang': 'tr', 'likeCount': 287, 'media': None, 'mentionedUsers': None, 'outlinks': None, 'place': None, 'quoteCount': 0, 'quotedTweet': None, 'renderedContent': '#XU100 2.510\n\nPiyasalarda bunaltƒ±cƒ± sƒ±cak s√ºr√ºyor, terlemeye devam ABD enflasyonu ve FED faiz artƒ±≈üƒ± beklentisiyle.\n\nBu beklenti √∂yle veya b√∂yle ger√ßekle≈ütiƒüinde kƒ±sa vadeli belirsizlik biter. \n\nEndeks 2.516 puan 21EMA √ºzerine atarsa rahatlar.\nBu seviye altƒ±nda 2.420 desteƒüi var.', 'replyCount': 5, 'retweetCount': 13, 'retweetedTweet': None, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'sourceLabel': 'Twitter for iPhone', 'sourceUrl': 'http://twitter.com/download/iphone', 'tcooutlinks': None, 'url': 'https://twitter.com/Halil_BUHUR/status/1536444639275778048', 'user': {'created': 'Thu, 08 Sep 2011 10:39:04 GMT', 'description': 'Official Twitter Account of Halil BUHUR & Founder of halilbuhur.com & ƒ∞ktisat√ßƒ± & Y√ºksek Lisans ƒ∞≈ületme & #Temel #Teknik ve #Takas Analizi & #Buhur25', 'descriptionUrls': [{'indices': [53, 76], 'tcourl': 'https://t.co/IeMB7Hg64v', 'text': 'halilbuhur.com', 'url': 'http://halilbuhur.com'}], 'displayname': 'Halil BUHUR', 'favouritesCount': 9001, 'followersCount': 141028, 'friendsCount': 95, 'id': 370031741, 'label': None, 'linkTcourl': 'https://t.co/OwOODHg1uz', 'linkUrl': 'https://halilbuhur.com/', 'listedCount': 1227, 'location': 'Izmir - TURKEY', 'mediaCount': 788, 'profileBannerUrl': 'https://pbs.twimg.com/profile_banners/370031741/1506444533', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1456618581127479298/BNIUSWR1_normal.jpg', 'protected': False, 'rawDescription': 'Official Twitter Account of Halil BUHUR & Founder of https://t.co/IeMB7Hg64v & ƒ∞ktisat√ßƒ± & Y√ºksek Lisans ƒ∞≈ületme & #Temel #Teknik ve #Takas Analizi & #Buhur25', 'statusesCount': 51204, 'username': 'Halil_BUHUR', 'verified': False}}

In [2]:
a['content']

'#XU100 2.510\n\nPiyasalarda bunaltƒ±cƒ± sƒ±cak s√ºr√ºyor, terlemeye devam ABD enflasyonu ve FED faiz artƒ±≈üƒ± beklentisiyle.\n\nBu beklenti √∂yle veya b√∂yle ger√ßekle≈ütiƒüinde kƒ±sa vadeli belirsizlik biter. \n\nEndeks 2.516 puan 21EMA √ºzerine atarsa rahatlar.\nBu seviye altƒ±nda 2.420 desteƒüi var.'

In [4]:
str = a['date']

In [39]:
#¬†dont take last 4 characters
type(str[:-4])

str

In [20]:
import time 
ts = time.strftime('%Y-%m-%d %H:%M:%S', time.strptime(str[:-4],'%a, %d %b %Y %H:%M:%S'))

In [54]:
type(ts[:-9]), ts[:-9]

(str, '2022-06-13')

In [36]:
# ts to datetime obj
import datetime
a = datetime.datetime.strptime(ts[:-9],'%Y-%m-%d').date()

In [40]:
startDt = datetime.datetime.strptime(start_date[:-9],'%Y-%m-%d').date()

datetime.datetime(2022, 6, 13, 0, 0)

In [26]:
type(a)
# convert a to datetime object
a = datetime.datetime.strptime(str[:-4],'%a, %d %b %Y %H:%M:%S')

datetime.datetime

In [62]:
b = datetime.datetime.today()

In [52]:
today = datetime.datetime.today().strftime('%Y-%m-%d')
type(today), today

(str, '2022-08-16')

In [64]:
a

datetime.datetime(2022, 6, 13, 0, 0)

In [49]:
diff = b < a
diff

False

In [9]:
str.format()

'Mon, 13 Jun 2022 20:25:22 GMT'

In [55]:

startDt = datetime.datetime.strptime('2022-06-13','%Y-%m-%d').date()

In [56]:
startDt

datetime.date(2022, 6, 13)